<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
    <!-- //href will be /public/main.css -->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <header class="main-header"><%- include('../includes/nav.ejs') %></header>

    <main>
      <h1>My Cart</h1>
    </main>
    <%- include('../includes/foot.ejs') %>
  </body>
</html>
